<div class="notification-content">
  <div class="dropdown">
    <a data-ng-if="totalNotifications() > 0" id="dLabel" class="icon-select-active pointer" data-toggle="collapse" data-target="#notifications-menu" href="#">
      <span class="count animated" id="notifications-count">{{totalNotifications()}}</span>
      <i class="fa fa-bell-o"></i>
    </a>

    <a  data-ng-if="totalNotifications() == 0" id="dLabel" class="icon-select-disabled pointer" data-toggle="collapse" data-target="#notifications-menu" href="#">
      <span class="count animated" id="notifications-count">{{totalNotifications()}}</span>
      <i class="fa fa-bell-o"></i>
    </a>

    <div id="notifications-menu" class="dropdown-menu notifications collapse" role="menu" aria-labelledby="dLabel">
      <div class="notification-heading">
        <h4 class="menu-title">Notificações</h4>
        <h4 class="menu-title menu-mark pull-right pointer" data-ng-click="markAllAsRead()">Marcar todas <i class="glyphicon glyphicon-ok"></i></h4>
      </div>
      <div data-ng-if="totalNotifications() > 0" class="notifications-wrapper">
        <div data-ng-repeat="notification in notifications">
          <div class="content pointer" data-ng-click="markAsRead(notification.id)">
            <div class="notification-item">
              <h4 class="item-title">{{notification.created}}</h4>
              <p class="item-info"><a class="product" data-ng-click="searchProduct(notification)">{{notification.product_name}}</a> no {{notification.retailer_name}} encontra-se com {{notification.percentage}}% desconto: <span class="base-price">{{notification.base_price | currency}}</span> -  <span class="price">{{notification.price | currency}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="totalNotifications() == 0" class="notifications-wrapper">
        <div>
          <a class="content">
            <div class="notification-item">
              <p class="item-info">Não existem novas notificações</p>
            </div>
          </a>
        </div>
      </div>
      <div class="notification-footer"></div>
    </div>

  </div>
</div>