<div class="nav-menu">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="#">Menu</a>
        <ul class="nav navmenu-nav" data-ng-repeat="category in categories">
            <li class="dropdown">
                <a class="dropdown-toggle pointer" data-toggle="dropdown">{{category.name}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <div class="menu-table">
                        <ul class="cell">
                            <li data-ng-repeat="sub in category.subcategories"><a data-ng-click="changeView(category.name,sub.name)" class="pointer">{{sub.name}}</a></li>
                        </ul>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="navbar navbar-default">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="container">
            <div id="menubar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar" data-ng-repeat="category in categories">
                    <li class="dropdown">
                        <a class="dropdown-toggle pointer" data-ng-init="chunk=chunkArr(category.subcategories)" data-toggle="dropdown">{{category.name}}<b class="caret"></b></a>

                        <ul data-ng-if="!changeDirection(chunk.count)" class="dropdown-menu">
                            <div class="menu-table">
                                <ul class="cell" data-ng-repeat="subs in chunk.array">
                                    <li data-ng-repeat="sub in subs"><a data-ng-click="changeView(category.name,sub.name)" class="pointer">{{sub.name}}</a></li>
                                </ul>
                            </div>
                        </ul>
                        <ul data-ng-if="changeDirection(chunk.count)" class="dropdown-menu dropdown-menu-right">
                            <div class="menu-table">
                                <ul class="cell" data-ng-repeat="subs in chunk.array">
                                    <li data-ng-repeat="sub in subs"><a data-ng-click="changeView(category.name,sub.name)" class="pointer">{{sub.name}}</a></li>
                                </ul>
                            </div>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>