<div menu></div>
<div class="container clearfix">

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">Search</li>
            </ol>
        </div>
    </div>

    <div class="row col-lg-12">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div filterbar></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
            <div class="row">
                <div class="form-group search-page-select-div select-order-div col-sm-5 col-xs-5 pull-right">
                    <div class="search-page-select">
                        <select class="form-control search-page-select-select select-order" data-ng-change="resetCurrentPage()" data-ng-options="o.name for o in orderOptions | orderBy:'name' :true" data-ng-model="orderSelectedOption"></select>
                    </div>
                </div>
                <span> | </span>
                <div class="form-group search-page-select-div col-sm-7 col-xs-7 pull-right">
                    <div class="search-page-select">
                        <label class="search-page-select-label">Produtos por Página:</label>
                        <select data-ng-model="pageSize.value" id="pageSize" class="form-control search-page-select-select" data-ng-change="resetCurrentPage()" data-ng-options="options for options in pageSize.values">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div data-ng-repeat="item in data | limitTo:pageSize.value">
                    <div class="search-page-item col-sm-6 col-xs-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a data-ng-click="productDetails(item.product_id,item.id)" class="pointer">
                                            <img data-ng-src="{{item.image}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <span class="brand">{{item.brand}}</span>
                                <h5><a data-ng-click="productDetails(itemproduct_id,item.id)" class="pointer">{{item.name}}</a></h5>
                            </div>
                            <div class="price-buttons">
                                <p class="price">{{item.price | currency}}</p>
                                <p class="buttons">
                                <a data-ng-show="!cart.hasItem(item)" data-ng-click="cart.addItem(item,5)" class="btn btn-primary pointer cart-add-button"><i class="fa fa-shopping-cart"></i> Adicionar</a>
                                    <div data-ng-show="cart.hasItem(item)" class="cart-update">
                                        <div data-ng-show="cart.hasItem(item)" class="cart-update-wrap">
                                            <span class="btn-primary cart-remove noselect pointer" data-ng-click="cart.updateItemQuantity(item,-1)">-</span>
                                            <span class="cart-info noselect">
                                                <span class="cart-qty noselect">{{cart.itemQuantity(item)}}</span> 
                                                <span class="noselect">|</span>
                                                <span class="cart-price noselect">{{cart.itemPrice(item) | currency}}</span>
                                            </span>
                                            <span class="btn-primary cart-add noselect pointer" data-ng-click="cart.updateItemQuantity(item,1)">+</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div data-ng-show="numberOfPages() > 1">
                    <button class="btn btn-primary" data-ng-disabled="currentPage == 1" data-ng-click="previousPage()">
                      <span>Anterior</span>      
                  </button>
                  <span class="search-page-pagenumbers">{{currentPage}}/{{numberOfPages()}}</span>
                  <button class="btn btn-primary" data-ng-disabled="currentPage >= numberOfPages()" data-ng-click="nextPage()">
                    <span>Próximo</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-right">
        Right (Side) - Move content to Partial View
    </div>
</div>
</div>