<div class="container">
	<div class="panel panel-default profile-card col-sm-12 col-lg-12">
		<div class="row">
			<div class="panel-heading profile-title col-sm-12 col-lg-12 col-sm-12 col-xs-12">
				<h3><i class="fa fa-user fa-fw"></i>Listas Guardadas</h3>
			</div>
		</div>
		<div class="panel-body profile-body col-sm-12 col-lg-12">
			<div class="table-responsive col-lg-12" data-ng-show="numberLists() > 0">
				<table class="table table-striped ngCart cart">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Retailer</th>
							<th>Produtos</th>
							<th>Quantidade</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="list in lists">
							<td> <span data-ng-click="removeList(list.id)" class="glyphicon glyphicon-remove pointer noselect"><md-tooltip md-direction="top">Eliminar</md-tooltip>
							</span></td>
							<td><span data-ng-click="modifyList(list.id)" class="glyphicon glyphicon-edit pointer noselect"><md-tooltip md-direction="top">Modificar</md-tooltip></span></td>
							<td><span data-ng-click="viewList(list.id)" class="glyphicon glyphicon-list pointer noselect"><md-tooltip md-direction="top">Listar</md-tooltip></span></td>
							<td><span>{{ list.name }}</span></td>
							<td><span>{{ list.description }}</span></td>
							<td><span>{{ list.retailer_name }}</span></td>
							<td><span>{{ list.total_products | number }}</span></td>
							<td><span>{{ list.total_quantity | number }}</span></td>
							<td><span>{{ list.total_price | currency }}</span></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>