<div class="row">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-body">
            <ui-select data-ng-model="retailer.selected" tagging="tagHandler" data-ng-change="retailerChanged()">
                <ui-select-match>
                    <img class="ui-select-img" data-ng-src="{{$select.selected.img}}"/>
                </ui-select-match>
                <ui-select-choices repeat="retailer in retailers">
                    <img class="ui-select-img" data-ng-src="{{retailer.img}}"/>
                </ui-select-choices>
            </ui-select> 
        </div>

    </div>
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked filter-menu">
                <li>
                    <span class="badge noselect">Marca</span> 
                    <div class="filter-check">
                        <table>             
                            <tr data-ng-repeat="b in brands">
                                <td>
                                    <div class="checkbox-styled">
                                        <input id="input-{{b.name}}" type="checkbox" data-ng-model="b.checked" data-ng-checked="b.checked" data-ng-click="updateBrand(b,$index,brands,b.checked)"/>
                                        <label for="input-{{b.name}}"><span class="capitalize">{{b.name | lowercase}}</span></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <span class="badge noselect">Categoria</span> 
                    <div class="filter-check">
                        <table>
                            <tr data-ng-repeat="cat in categories">
                                <td>
                                    <div class="checkbox-styled">
                                        <input id="input-{{cat.name}}" type="checkbox" data-ng-model="cat.checked" data-ng-checked="cat.checked" data-ng-click="updateCategory(cat,$index,categories,cat.checked)" />
                                        <label for="input-{{cat.name}}"><span class="capitalize">{{cat.name | lowercase}}</span></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
