<footer class="footer-distributed">
	<div class="container">
		<div class="footer-right">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>

		</div>

		<div class="footer-left">

			<p class="footer-links">
				<a href="/">Home</a>
				·
				<a href="/search">Blog</a>
				·
				<a href="#">Pricing</a>
				·
				<a href="#">About</a>
				·
				<a href="#">Faq</a>
				·
				<a href="#">Contact</a>
			</p>

			<p>Company Name &copy; 2015</p>
		</div>

		<section consent="cookie-disclaimer">
			<section data-ng-if="$consent.hasNotAgreedYet()">
				<div class="cc-window">
					<span class="text">Este site usa cookies para otimizar melhor experiência de navegação. Nunca recolhemos dados pessoais sem a sua autorização.</span>
						<div class="compliance">
							<button class="btn" data-ng-click="$consent.agree();">Fechar</button>
						</div>
					</div>
				</section>
			</section>
		</div>
	</footer>

