<div class="product-container">
	<div class="row">
		<div class="main-product-container">
			<div class="product-wrapper">
				<div class="product">
					<div class="flip-container">
						<div class="flipper">
							<div class="front">
								<a data-ng-click="productDetails(item.product_id,item.id)" class="pointer">
									<img data-ng-src="{{item.image}}" alt="" class="img-responsive">
								</a>
							</div>
						</div>
					</div>
					<div class="text">
						<span class="brand">{{item.brand}}</span>
						<h5><a data-ng-click="productDetails(item.product_id,item.id)" class="pointer">{{item.name}}</a></h5>
					</div>
					<div class="price-buttons">
						<p class="price">{{item.price | currency}}</p>
						<p class="buttons">
							<a data-ng-show="!isFavorite(item.product_id)" data-ng-click="addFavorite(item.product_id)" class="btn btn-primary pointer cart-add-button"><i class="fa fa-heart-o"></i> </a>
							<a data-ng-show="isFavorite(item.product_id)" data-ng-click="removeFavorite(item.product_id)" class="btn btn-primary pointer cart-add-button"><i class="fa fa-heart"></i> </a>
							<a data-ng-show="!cart.hasItem(item)" data-ng-click="cart.addItem(item,5)" class="btn btn-primary pointer cart-add-button"><i class="fa fa-shopping-cart"></i> Adicionar</a>
							<div data-ng-show="cart.hasItem(item)" class="cart-update">
								<div data-ng-show="cart.hasItem(item)" class="cart-update-wrap">
									<span class="btn-primary cart-remove noselect pointer" data-ng-click="cart.updateItemQuantity(item,-1)">-</span>
									<span class="cart-info noselect">
										<span class="cart-qty noselect">{{cart.itemQuantity(item)}}</span> 
										<span class="noselect">|</span>
										<span class="cart-price noselect">{{cart.itemPrice(item) | currency}}</span>
									</span>
									<span class="btn-primary cart-add noselect pointer" data-ng-click="cart.updateItemQuantity(item,1)">+</span>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="product-table-header">
			<div class="product-table-header-title">
				<span class="title">Produtos Relacionados ({{relatedCount}})</span>
			</div>
		</div>
		<div class="product-table-wrap">
			<div class="product-table">
				<div class="cell" data-ng-repeat="item in related | limitTo:pageSize.value">
					<div class="product-wrapper">
						<div class="product">
							<div class="flip-container">
								<div class="flipper">
									<div class="front">
										<a data-ng-click="productDetails(item.product.product_id,item.product.id)" class="pointer">
											<img data-ng-src="{{item.product.image}}" alt="" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
							<div class="text">
								<span class="brand">{{item.product.brand}}</span>
								<h5><a data-ng-click="productDetails(item.product.product_id,item.product.id)" class="pointer">{{item.product.name}}</a></h5>
							</div>
							<div class="price-buttons">
								<p class="price">{{item.product.price | currency}}</p>
								<p class="buttons">
									<a data-ng-show="!cart.hasItem(item.product)" data-ng-click="cart.addItem(item.product,5)" class="btn btn-primary pointer cart-add-button"><i class="fa fa-shopping-cart"></i> Adicionar</a>
									<div data-ng-show="cart.hasItem(item.product)" class="cart-update">
										<div data-ng-show="cart.hasItem(item.product)" class="cart-update-wrap">
											<span class="btn-primary cart-remove noselect pointer" data-ng-click="cart.updateItemQuantity(item.product,-1)">-</span>
											<span class="cart-info noselect">
												<span class="cart-qty noselect">{{cart.itemQuantity(item.product)}}</span> 
												<span class="noselect">|</span>
												<span class="cart-price noselect">{{cart.itemPrice(item.product) | currency}}</span>
											</span>
											<span class="btn-primary cart-add noselect pointer" data-ng-click="cart.updateItemQuantity(item.product,1)">+</span>
										</div>
									</div>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>