<div class="container">

  <div class="panel panel-default profile-card col-sm-12 col-lg-12">
    <div class="row">
      <div class="panel-heading profile-title col-sm-12 col-lg-12 col-sm-12 col-xs-12">
        <h3><i class="fa fa-user fa-fw"></i>Editar Perfil</h3>
      </div>
    </div>
    <div class="panel-body profile-body col-sm-12 col-lg-12">
      <div class="form-group panel-body profile-avatar col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-left">
        <div class="row text-center">
          <img src="/assets/img/user-avatar.jpg" alt="Avatar">
        </div>
        <div class="row text-center">
          <button class="btn" ng-click="home()">Alterar</button>
        </div>
      </div>

      <div class="form-group col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="name">Nome</label><input type="text" name="name" id="name" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="email">Email</label><input type="email" name="email" id="email" class="form-control" placeholder="Email" readonly="readonly" required="required">
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="current_pass">Palavra-chave</label><input type="password" name="current_pass" id="current_pass" class="form-control" placeholder="************" required="required" value="" disabled="disabled">
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="Password" class="change-pwd">Alterar palavra-chave</label>
          <label for="Password" class="current-pwd hide">Cancelar</label>
        </div>
      </div>
      <div class="show-hide-passwords clearfix hide">
        <div class="row">
          <div class="form-group user-password">
            <label for="pwd">Nova palavra-chave</label><input type="password" name="pwd" id="pwd" class="form-control" placeholder="************" required="required" value="" disabled="disabled">
          </div>
        </div>
        <div class="row">
          <div class="form-group user-password">
            <label for="confirm_pwd">Repetir palavra-chave</label><input type="password" name="confirm_pwd" id="confirm_pwd" class="form-control" placeholder="************" data-error="Erro: as palavras-chave são diferentes!" required="required" value="" disabled="disabled">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="panel panel-default col-lg-4 col-md-4 col-sm-12 col-xs-12 side pull-left">
      Left (Side)
    </div>

    <div class="panel panel-default col-lg-4 col-md-4 col-sm-12 col-xs-12 main">
      Middle
    </div>

    <div class="panel panel-default col-lg-4 col-md-4 col-sm-12 col-xs-12 side pull-right">
      Right (Side)
    </div>

  </div>
</div>