<div class="container">
	<div class="alert alert-warning" role="alert" data-ng-show="ngCart.getTotalItems() === 0">
		Your cart is empty
	</div>

	<div class="table-responsive col-lg-12" data-ng-show="ngCart.getTotalItems() > 0">

		<table class="table table-striped ngCart cart">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Quantity</th>
					<th>Amount</th>
					<th>Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Total:</td>
					<td>{{ ngCart.totalCost() | currency }}</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="item in ngCart.getCart().items track by $index">
					<td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove pointer noselect"></span></td>

					<td>{{ item.getName() }}</td>
					<td><span class="glyphicon glyphicon-minus pointer noselect" ng-class="{'disabled':item.getQuantity()==1}"
						ng-click="item.setQuantity(-1, true)"></span>
						<span class="cart-item-quantity noselect">  {{ item.getQuantity() | number }}  </span>
						<span class="glyphicon glyphicon-plus pointer noselect" ng-click="item.setQuantity(1, true)"></span>
					</td>
					<td>{{ item.getPrice() | currency}}</td>
					<td>{{ item.getTotal() | currency }}</td>
				</tr>
			</tbody>
		</table>
		<a data-ng-click="saveList()" class="btn btn-primary pointer cart-add-button"><i class="glyphicon glyphicons-floppy-saved"></i>Guardar Lista</a>
	</div>
</div>
