<div class="container">
	<div class="alert alert-warning" role="alert" data-ng-show="cart.getTotalItems() === 0">
		Your cart is empty
	</div>

	<div class="table-responsive col-lg-12" data-ng-show="cart.getTotalItems() > 0">

		<table class="table table-striped cart">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th>Quantity</th>
					<th>Amount</th>
					<th>Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Total:</td>
					<td>{{ cart.totalCost() | currency }}</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="item in cart.getItems() track by $index">
					<td><span ng-click="cart.removeItemById(item.id)" class="glyphicon glyphicon-remove pointer noselect"></span></td>
					<td data-ng-if="hasSuggestions(item)"><span ng-click="suggestions($index, item)" class="glyphicon glyphicon-refresh pointer noselect"></span></td>
					<td data-ng-if="!hasSuggestions(item)"></td>
					<td>{{ item.name }}</td>
					<td><span class="glyphicon glyphicon-minus pointer noselect" data-ng-class="{'disabled':item.quantity==1}"
						data-ng-click="cart.updateItemQuantity(item.data, -1)"></span>
						<span class="cart-item-quantity noselect">  {{ item.quantity | number }}  </span>
						<span class="glyphicon glyphicon-plus pointer noselect" data-ng-click="cart.updateItemQuantity(item.data, 1)"></span>
					</td>
					<td>{{ item.price | currency}}</td>
					<td>{{ item.total | currency }}</td>
				</tr>
			</tbody>
		</table>
		<a data-ng-click="saveList()" class="btn btn-primary pointer cart-add-button"><i class="glyphicon glyphicons-floppy-saved"></i>Guardar Lista</a>
		<a data-ng-click="clearList()" class="btn pointer cart-add-button"><i class="glyphicon glyphicons-trash"></i>Limpar Lista</a>
	</div>
</div>
