<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PromoSite</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <div class="col-sm-8 col-lg-8">
          <form class="navbar-form" role="search">
            <div class="input-group search-field">
            <input type="text" class="form-control" placeholder="Procurar um produto, marca ou categoria..." name="srch-term" id="srch-term" ng-model="search.term">
              <div class="input-group-btn">
                <button class="btn btn-default" ng-click="changeView('search')"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click="loginForm()">Login</a></li>
          <li><a href="#" ng-click="registerForm()">Register</a></li>
          <li class="cart-icon"><a href="../navbar-static-top/"></a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>

