.modal-header {
	padding: 15px 15px 0 15px;
	border-bottom: none;
}

.modal-body {
	position: relative;
	padding: 0 15px 15px 15px;
}

.modal-body .message {
	margin: 10px 0 5px;
	color: #5d5d5d;
	font-size: 14px;
}

.modal-shoppinglist .modal-dialog {
	width: 825px;
}

.modal-shoppinglist .container .panel-body {
	padding:10px 0;
}

.modal-shoppinglist .container .panel{
	border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.modal-shoppinglist .container .list-container .table-responsive {
	padding-bottom: 0px;
}

@media (min-width: 768px){

	.modal-shoppinglist .modal-dialog {
		width: 750px;
	}

}

@media (min-width: 992px){

	.modal-shoppinglist .modal-dialog {
		width: 825px;
	}

	.modal-shoppinglist .container {
		width: 825px;
	}

}

@media (min-width: 1200px){

	.modal-shoppinglist .modal-dialog {
		width: 825px;
	}

	.modal-shoppinglist .container {
		width: 825px;
	}

}



