.view-content{
	margin-top: 30px;
}

.section{
	margin-bottom: 30px;
}

.home-main-img{
	padding:0;
}

.search-field{
	width: 100%
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	outline: none;
}

.profile-dropdown-menu{
	width: 100%;
}

.profile-dropdown-name{
	max-width: 305px;
}

.profile-card{
	margin-top: 20px;
}

.profile-title{
	background-color: #eee;
	color: #777;
}

.profile-title h1,h2,h3{
	margin: 10px 0;
}

.profile-title i{
	margin-right: 15px;
}

.profile-avatar .btn{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: none;
	background: #c7ca48;
	width: 65%;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 12px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.profile-avatar button:active {
	outline: none !important;
	background: #b4bb46;
}

.profile-avatar img{
	max-width: 100px;
	max-height: 100px;
}

.profile-password{
	display: inline;
}

.profile-password-padding{
	padding:0;
}

.profile-zip{
	display: inline;
}

.profile-zip .zipone{
	width: 58px;
}

.profile-zip .ziptwo{
	width: 49px;
}


.filter-menu .badge{
	margin: 5px 0;
}

.filter-check{
	padding-left: 20px;
	max-height: 250px;
	overflow-y: auto;
	margin:5px 0;
}

.filter-check::-webkit-scrollbar {
	width:10px; // manage scrollbar width here
}
.filter-check::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.filter-check::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.search-page-select{
	display: inline;
}

.search-page-select-label{
	font-size: .75em;
	vertical-align: middle;
	line-height: 25px;
	padding: 0;
	float: left;
	width: 69%;
}

.search-page-select-select{
	padding: 0;
	font-size: .75em;
	height: initial;
	width: initial;
	padding: 6px 6px;
	float: right;
}

.search-page-pagenumbers{
	padding: 0 15px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 1.05em;
	color: #777;
}

.page-404-wrapper{
	margin-top: 95px;
}

.page-404-wrapper .page-title{
	font-size: 12.5rem;
	font-weight: 400;
	color: #c7ca48;
	line-height: 105px;
}

.page-404-wrapper .page-sub-title{
	font-size: 5rem;
	font-weight: 400;
	color: #777777;
}

.page-404-wrapper .lead{
	font-size: 21px;
	margin-top: -20px;
}

.page-404-wrapper .btn{
	margin-top: 50px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: none;
	background: #c7ca48;
	width: 20%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.page-404-wrapper button:active {
	outline: none !important;
	border: 0;
	background: #b4bb46;
}

.page-404-wrapper button:focus {
	outline: none;
	border: 0;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}

.form h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form .message {
	margin: 15px 0 15px;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

/* Footer: Start*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.search-page-item{
	margin-left: 11px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.search-page-item .product{
	max-height: 310px;
}

.search-page-item .text{
	position: relative;                  
	bottom: 0;     
	height: 75px;
}

.search-page-item .text .brand{
	font-size: 0.75em;
	font-weight: 600;
	color: #777;
}

.search-page-item .text h5{
	margin-top: 0;
}

.search-page-item .text h5 a{
	color: #000;
	font-size: 0.95em;
}

.search-page-item .text h5 a:hover{
	text-decoration: none;
	color: #555;
}

.search-page-item .flip-container{
	position: relative;
	height: 140px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.search-page-item .cart-remove{
	padding: 2px 8px;
	border: 1px solid transparent;
	border-radius: 4px 0px 0px 4px;
}

.search-page-item .cart-add{
	padding: 2px 6px;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
}

.search-page-item .cart-info{
	font-size: 11px;
	padding: 0 3px;
	font-weight: 600;
	line-height: 14px;
	color: #515151;
}

.search-page-item .cart-update{
	text-align: center;
}

.search-page-item .cart-add-button{
	height: 21px;
	width: 100%;
	font-size: 11px;
	padding: 3px;
}

.search-page-item .cart-update-wrap{
	text-align: center;
	display: inline-block;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

@media (min-width: 221px){
	.search-page-item{
		width: 45%;
	}

	.select-order{
		width: 125%;
	}

	.select-order-div{
		width: 40%;
	}

	.search-page-item .flip-container{
		height: 105px;
	}
}

@media (min-width: 360px){
	.search-page-item{
		width: 45%;
	}

	.search-page-item .flip-container{
		height: 125px;
	}
}

@media (min-width: 412px){
	.search-page-item .flip-container{
		height: 145px;
	}
}

@media (min-width: 480px){
	.search-page-item{
		width: 23%;
	}
}

@media (min-width: 768px){
	.search-page-item{
		width: 23%;
	}
}

@media (min-width: 992px){
	.search-page-select-div{
		width: 25%;
	}

	.search-page-item{
		width: 23%;
	}

	.navbar-search{
		width: 100%;
	}

	.product-container{
		width: 100%;
	}

	.search-page-item .flip-container{
		height: 115px;
	}
}

@media (min-width: 1200px){
	.search-page-select-div{
		width: 25%;
	}

	.search-page-item{
		width: 23%;
	}

	.navbar-search{
		width: 100%;
	}

	.product-container{
		width: 100%;
	}

	.search-page-item .flip-container{
		height: 140px;
	}

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}

	.navbar-search{
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
	}

}


/* Footer: End */

@media only screen and (min-width : 250px) and (max-width : 480px) {
	.home-main-img{
		height: 80px;
		padding:0;
	}
}

.modal-content{
	border: 0;
}


.navbar-search-text{
	min-width: 300px;
}

.navbar-cart-icon{
	margin-top: 4px;
}

.ui-select-img{
	max-width: 100%;
	max-height: 20px;
}

.pointer{
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently  supported by Chrome and Opera */
}

.cart-item-quantity{
	padding: 0 10px;
}

.nav-menu{
	margin-top: 48px;
}

.nav-menu .navbar{
	margin-bottom: 0;
	background-image: none;
	box-shadow: none;
	border-radius: 0;
}

.menu-table{
	max-height: 100px;
	min-width: 200px;
	display: table;
}

.menu-table .cell{
	display: table-cell;
	list-style: none;
	min-width: 160px;
	padding: 5px 10px;
	margin: 2px 0 0;
}

.menu-table .cell li{
	padding: 5px 10px;
}

.menu-table .cell li a:hover{
	text-decoration: none;
}

.product-container{
	padding: 15px;
}

.product-table-wrap{
	overflow-x: auto;
	max-width: 100%;
	margin: 0 11px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.product-table-wrap::-webkit-scrollbar {
	height: 10px; // manage scrollbar width here
}
.product-table-wrap::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.product-table-wrap::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.product-wrapper{
	margin: 0 5px;
	padding: 0 15px;
	max-height: 284px;
	width: 150px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.product-wrapper .product{
	max-height: 310px;
}

.product-wrapper .text{
	position: relative;                  
	bottom: 0;     
	height: 75px;
}

.product-wrapper .text .brand{
	font-size: 0.75em;
	font-weight: 600;
	color: #777;
}

.product-wrapper .text h5{
	margin-top: 0;
}

.product-wrapper .text h5 span{
	color: #000;
	font-size: 0.95em;
}

.product-wrapper .text h5 a{
	color: #000;
	font-size: 0.95em;
}

.product-wrapper .text h5 a:hover{
	text-decoration: none;
	color: #555;
}

.product-wrapper .flip-container{
	position: relative;
	height: 140px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.product-wrapper .cart-remove{
	padding: 2px 8px;
	border: 1px solid transparent;
	border-radius: 4px 0px 0px 4px;
}

.product-wrapper .cart-add{
	padding: 2px 6px;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
}

.product-wrapper .cart-info{
	font-size: 11px;
	padding: 0 3px;
	font-weight: 600;
	line-height: 14px;
	color: #515151;
}

.product-wrapper .cart-update{
	display: inline-block;
	border-radius: 4px;
}

.product-wrapper .cart-add-button{
	height: 21px;
	width: 100%;
	font-size: 11px;
	padding: 3px;
}

.product-wrapper .cart-update-wrap{
	text-align: center;
	display: inline-block;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

.main-product-container{
	padding: 0 6px;
	margin-bottom: 15px;
}

.product-table-header{
	margin: 0px 11px;
	border-top: 1px solid #dfdfdf;
}

.product-table-header-title{
	margin: 10px 6px 0;
}

.product-table-header .title{
	font-size: 1.45em;
}

.product-table{
	display: table;
}

.product-table .cell{
	display: table-cell;
}

.product-table .row{
	display: table-row;
}

