:root {
	/*--color-yellow: rgb(255, 193, 53);
	--color-darkyellow: #e4a922;*/
	--color-yellow: rgb(234, 182, 65);
	--color-darkyellow: #cca141;
	--color-blue:#2c689d;
	--color-darkblue:#275782;
	--color-grey:#b3b3b3;
	--color-darkgrey:#777;
	--color-darkergrey:#333;
	--color-red: rgb(221,44,0);
	--color-lightred: #ffcabd;
	--color-lightyellow: #fcf8e3;
	--color-lightgrey: #ddd;
	--color-warningred: #f00;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#container {
	min-height:100%;
	position:relative;
}
#header {
	/*background:#ff0;*/
	padding-bottom: 1px;
}
#body {
	background-color: #fff;
	padding-bottom:148px;   /* Height of the footer */
}
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:148px;   /* Height of the footer */
	/*background:#6cf;*/
}

.bolder {
	font-weight: bold;
}

.capitalize{
	text-transform: capitalize;
}

.view-content{
	/*margin-top: 30px;*/
}

.header-notification-wrapper{
	height: 50px;
}

.header-notification-wrapper .icon-select-active,
.header-notification-wrapper .icon-select-disabled{
	display: block;
}

.header-cart-wrapper{
	padding: 5px;
	width: 140px;
	height: 50px;
}

.header-cart-wrapper>a{
	padding:0 !important;
}

.search-component-container{
	margin-top:20px;
	margin-bottom: 30px;
	padding-right: 0;
}

.search-component-container>.row{
	margin-right: 0;
}

.component-container{
	margin-top: 50px;
	margin-bottom: 30px;
}

.section{
	margin-bottom: 30px;
}

.home-main-img{
	padding:0;
}

.clearfix{
	display: block;
	content: "";
	clear: both;
}

.search-field{
	width: 100%
}

.text-right{
	text-align: right;
}

.nowrap{
	white-space: nowrap;
}


.warning-icon {
	color: var(--color-red);
}


.btn-default{
	background-image: -webkit-linear-gradient(top,#fff 0,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,#fff 0,#f1f1f1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
	background-image: linear-gradient(to bottom,#fff 0,#f1f1f1 100%);

}

.btn-default:focus, .btn-default:hover {
	background-color: #f1f1f1;
	background-position: 0 -15px;
	outline: none;
}

.btn-default:active, 
.btn-default:active:focus,
.btn-default:active:hover{
	background-color: #e1e1e1;
	background-position: 0 -15px;
	outline: none;
}

.btn-primary {
	background-image: -webkit-linear-gradient(top,var(--color-blue) 0,var(--color-darkblue) 100%);
	background-image: -o-linear-gradient(top,var(--color-blue) 0,var(--color-darkblue) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(var(--color-blue)),to(var(--color-darkblue)));
	background-image: linear-gradient(to bottom,var(--color-blue) 0,var(--color-darkblue) 100%);
}

.btn-primary:focus, .btn-primary:hover{
	outline: none;
}

.btn-primary:active, 
.btn-primary:active:focus,
.btn-primary:active:hover{
	outline: none;
}

.btn-secondary {
	background-image: -webkit-linear-gradient(top,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	background-image: -o-linear-gradient(top,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(var(--color-yellow)),to(var(--color-darkyellow)));
	background-image: linear-gradient(to bottom,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	border-color: var(--color-darkyellow);
}

.btn-secondary:focus,
.btn-secondary:hover{
	border-color: var(--color-darkyellow);
	background-color: var(--color-darkyellow);
	outline: none;
}

.btn-secondary:active, 
.btn-secondary:active:focus,
.btn-secondary:active:hover{
	border-color: var(--color-darkyellow);
	background-color: var(--color-yellow);
	outline: none;
}


.btn-profile {
	min-width: 135px;
}


.dialog-buttons .button-spacer{
	width: 1%;
}

.dialog-buttons a{
	display: inline-block;
	width: 47%;
	height: 40px;
	line-height: 27px;
}

.modal-body .message {
	white-space: pre-line;
}

.modal-footer .dialog-buttons a{
	height: auto;
	line-height: inherit;
}

.icon{
	margin-right: 10px;
}

.navbar-right{
	margin-right: 0;
}

.navbar-default{
	background-image: none;
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	outline: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{	
	background-color:#f1f1f1;
}

.profile-dropdown-menu{
	width: 100%;
}

.profile-dropdown-name{
	max-width: 305px;
}

.profile-card{
	margin-top: 20px;
}

.profile-title{
	background-color: #eee;
	color: #777;
}

.profile-title h1,h2,h3{
	margin: 10px 0;
}

.profile-title i{
	margin-right: 15px;
}

.profile-avatar .btn{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: none;
	background: #c7ca48;
	width: 65%;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 12px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.profile-avatar button:active {
	outline: none !important;
	background: #b4bb46;
}

.profile-avatar img{
	max-width: 100px;
	max-height: 100px;
}

.profile-password{
	display: inline;
}

.profile-password-padding{
	padding:0;
}

.profile-zip{
	display: inline;
}

.profile-zip .zipone{
	width: 58px;
}

.profile-zip .ziptwo{
	width: 49px;
}

.btn-profile-wrapper {
	margin-bottom: 15px;
}


.filter-menu .badge{
	margin: 5px 0;
	min-width: 100%;
	padding: 7px 10px;
	border-radius: 3px;
	border: 1px solid var(--color-darkyellow);
	background-color: var(--color-yellow);
	cursor:	default;
}

.filter-check{
	max-height:240px;
	overflow-y:auto;    
	overflow-x: hidden;
	margin:5px 0;
	font-size:11px;
}

.filter-check::-webkit-scrollbar {
	width:5px; // manage scrollbar width here
}
.filter-check::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.filter-check::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.search-header{
	margin-bottom: 23px;
	display: inline-block;
}

.search-page-select{
	display: inline;
	float: right;
}

.search-page-result-info{
	float:left;
	margin-top: 5px;
}

.search-page-result-info .term{
	font-size: 1.45em;
	color: var(--color-darkgrey);
	margin: 0 0 2px;
}

.search-page-result-info .results{
	font-size: 0.85em;
	font-weight: bold;
	color: var(--color-darkergrey);
}

.search-page-result-info .results .total{
	font-weight: normal;
}

.noresults{
	padding-left: 0;
}

.noresults .search-page-result-info .results ul{
	padding: 0;
	padding-left: 15px;
}

.noresults .message .results{
	margin-top: 10px;
}

.search-page-result-filters{
	float:right;
}

.search-page-result-filters .form-group{
	margin-bottom: 32px;
}

.search-page-select-label{
	font-size: .75em;
	vertical-align: middle;
	line-height: 25px;
	padding-right: 10px;
	float: left;
	color: var(--color-darkergrey);
}

.search-page-select-select{
	padding: 0;
	font-size: .75em;
	height: initial;
	width: initial;
	padding: 6px 6px;
	float: right;
}

.search-page-pagenumbers{
	padding: 0 15px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 1.05em;
	color: #777;
}

.page-404-wrapper{
	margin-top: 95px;
}

.page-404-wrapper .page-title{
	font-size: 12.5rem;
	font-weight: 400;
	color: #c7ca48;
	line-height: 105px;
}

.page-404-wrapper .page-sub-title{
	font-size: 5rem;
	font-weight: 400;
	color: #777777;
}

.page-404-wrapper .lead{
	font-size: 21px;
	margin-top: -20px;
}

.page-404-wrapper .btn{
	margin-top: 50px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: none;
	background: #c7ca48;
	width: 20%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.page-404-wrapper button:active {
	outline: none !important;
	border: 0;
	background: #b4bb46;
}

.page-404-wrapper button:focus {
	outline: none;
	border: 0;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	width: 100%;  
	border: none;
	outline:none;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.forn button:active,
.form button:focus,
.form button:hover {
	border: none;
	outline:none;
}

.form h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form .message {
	margin: 15px 0 15px;
	color: var(--color-grey);
	font-size: 12px;
}

.form .message a {
	color: var(--color-yellow);
	text-decoration: none;
}

.form .message a:focus,
.form .message a:hover {
	color: var(--color-darkyellow);
	text-decoration: none;
}

/* Footer: Start*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.search-page-item{
	margin-left: 12px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.search-page-item .product{
	max-height: 336px;
}

.search-page-item .product .discount{
	position: absolute;
	padding: 5px;
	background-color: var(--color-red);
	color: #fff;
	width: 40px;
	border-radius: 0 0 4px 4px;
	font-weight: bold;
	text-align: center;
}

.search-page-item .text{
	position: relative;                  
	bottom: 0;     
	height: 105px;
}

.search-page-item .text .brand{
	font-size: 0.75em;
	font-weight: 600;
	color: #777;
}

.search-page-item .text h5{
	margin-top: 0;
	margin-bottom: 2px;
}

.search-page-item .text h5 a{
	color: var(--color-darkgrey);
	font-size: 0.85em;
}

.search-page-item .text h5 a:hover{
	text-decoration: none;
	color: var(--color-darkblue);
}

.search-page-item .text .weight{
	font-size: 0.75em;
	color: var(--color-darkgrey);
}

.search-page-item .price-buttons-wrapper{
	min-height: 81px;
	position: relative
}

.search-page-item .price-buttons{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.search-page-item .price-buttons .weight-wrapper{
	font-size: 0.70em;
	display:table;
	width: 100%;
	color: var(--color-darkgrey);
}

.search-page-item .price-buttons .base-price{
	font-size: 1.15em;
	text-decoration: line-through;
}

.search-page-item .price-buttons .weight-wrapper .price-weight{
	display:table-cell;
	float:right;
	margin-top: 7px;
}

.search-page-item .price-buttons .weight-wrapper .price{
	display:table-cell;
	float:left;
	margin: 0;
	color: var(--color-red);
	font-weight: bold;
	font-size: 1.65em
}

.search-page-item .price-buttons .buttons{
	margin-bottom: 10px;
	margin-top: 10px;
}

.search-page-item .flip-container{
	position: relative;
	height: 140px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.search-page-item .cart-remove{
	padding: 0px 8px;
	border: 1px solid transparent;
	border-radius: 4px 0px 0px 4px;
	float: left;
	height: 22px;
	position: relative;
	top: -1px;
}

.search-page-item .cart-add{
	padding: 0px 6px;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
	float: right;
	height: 22px;
	position: relative;
	top: -1px;
}

.search-page-item .cart-info{
	font-size: 11px;
	padding: 0 3px;
	font-weight: 600;
	line-height: 14px;
	color: var(--color-darkgrey);
	position: relative;
	top: -1px;
}

.search-page-item .cart-update{
	text-align: center;
}

.search-page-item .cart-add-button{
	height: 21px;
	width: 100%;
	font-size: 11px;
	padding: 3px;
}

.search-page-item .cart-update-wrap{
	text-align: center;
	display: inline-block;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	height: 22px;
	width: 100%;
}

.search-page-item .img-responsive{
	padding: 5px;
	max-height: 150px;
}

.navigation-buttons{
	margin-top:10px;
	text-align: center;
}

.navigation-buttons button{
	font-size: 0.95em;
	padding: 6px 12px;
}

.modal-content{
	border: 0;
}


.navbar-cart-icon{
	margin-top: 4px;
	padding: 0;
	float:left;
}

.ui-select-img{
	max-width: 100%;
	max-height: 20px;
}

.pointer{
	cursor: pointer;
}

.nopadding{
	padding: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently  supported by Chrome and Opera */
}

.cart-item-quantity{
	padding: 0 10px;
}

.nav-menu{
	margin-top: 50px;
}

.nav-menu .navbar{
	margin-bottom: 0;
	background-image: none;
	box-shadow: none;
	border-radius: 0;
}

.nav-menu .navbar-default{
	background-color: var(--color-yellow);
	border-color: var(--color-darkyellow);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.nav-menu .navbar-default .navbar-nav>li>a{
	color: #fff;
	text-shadow: none;
}

.nav-menu .navbar-default .navbar-nav>li>a:hover{
	color:var(--color-blue);
}

.nav-menu .navbar-default .navbar-nav>.open>a, 
.nav-menu .navbar-default .navbar-nav>.open>a:focus, 
.nav-menu .navbar-default .navbar-nav>.open>a:hover{
	color:var(--color-blue);
	background-image: none;
	background-color: var(--color-yellow);
}

.nav-menu .navbar-nav>li>.dropdown-menu{
	margin-top: 1px;
	background-color: #fff;
}

.nav-menu .navbar-nav>li>.dropdown-menu>.menu-table>.cell>li>a{
	color:#777;
}

.nav-menu .navbar-nav>li>.dropdown-menu>.menu-table>.cell>li>a:hover
{
	color:var(--color-blue);
}

.nav-menu .navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}

.nav-menu .navbar-default .navbar-toggle{
	border-color: #ffffff;
}

.nav-menu .navbar-default .navbar-toggle:focus,
.nav-menu .navbar-default .navbar-toggle:hover{	
	background-color:var(--color-darkyellow);
}

.menu-table{
	max-height: 100px;
	min-width: 200px;
	display: table;
}

.menu-table .cell{
	display: table-cell;
	list-style: none;
	min-width: 160px;
	padding: 5px 10px;
	margin: 2px 0 0;
}

.menu-table .cell li{
	padding: 5px 10px;
}

.menu-table .cell li a:hover{
	text-decoration: none;
}

.product-container{
	padding: 15px;
}

.product-table-wrap{
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
	margin: 0 11px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.product-table-wrap::-webkit-scrollbar {
	height: 10px; // manage scrollbar width here
}
.product-table-wrap::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.product-table-wrap::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.favorite-panel-body {
	padding: 15px 0;
}

.favorite-product-table-wrap{
	overflow-x: hidden;
	overflow-y: auto;
	max-width: 100%;
}

.favorite-product-table-wrap::-webkit-scrollbar {
	height: 10px; // manage scrollbar width here
}
.favorite-product-table-wrap::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.favorite-product-table-wrap::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.favorite-product-wrapper {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 11px 0px 11px 11px;
	padding: 15px 0;
	float:left;
}

.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
	padding: 0 15px 0 0;
	background-color: #fff;
	border: none;
	border-radius: 0;
	position: relative;
	top: -10px;
}

.favorite-product-wrapper .main-product-container-prices{
	padding: 0;
}

.favorite-product-wrapper .product-info-wrapper .text h5 {
	color: var(--color-darkergrey);
	font-size: 1.15em;
}

.favorite-product-wrapper .product-info-wrapper .text{
	height: 125px;
}

.product-img-wrapper{
	padding: 0 15px;
	text-align: center;
}

.product-img-wrapper .product-image .discount{
	position: absolute;
	top: 15px;
	padding: 5px;
	background-color: var(--color-red);
	color: #fff;
	width: 60px;
	font-size: 20px;
	border-radius: 0 0 4px 4px;
	font-weight: bold;
	text-align: center;
}

.main-product-container{

}

.main-product-container-left{
	max-height: 206px;
	width: 100%;
}

.main-product-container-main{
	max-height: 206px;
	padding: 0 15px;
	margin-top: 15px;
}

.main-product-container-prices{
	max-height: 206px;
	padding: 0 15px;
	margin-top: 15px;
}

.main-product-container-prices .prices-wrapper{
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.main-product-container-prices .prices-wrapper .retailer-price-box{
	margin: 10px 0;
}

.main-product-container-prices .prices-wrapper .retailer-price-box .price{
	font-size: 1.15em;
}

.product-img-wrapper .product-image{
	padding: 10px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	min-height: 206px;
}

.product-img-wrapper .product-image .img-responsive{
	display: unset;
	max-height: 185px;
}

.product-info-wrapper .buttons{
	width: 100%;
	margin-top: 13px;
	height: 34px;
	display: inline-block;
}

.product-info-wrapper .buttons .cart-update, 
.product-info-wrapper .buttons .cart-add-button{
	width: 150px;
	margin-left: 5px;
}

.product-info-wrapper .buttons .cart-favorite-button{
	background-image:none;
	background-color: var(--color-yellow);
	border-color: var(--color-darkyellow);
}

.product-info-wrapper .buttons .cart-favorite-button:focus,
.product-info-wrapper .buttons .cart-favorite-button:hover{
	background-image:none;
	background-color: var(--color-yellow);
	border-color: var(--color-darkyellow);
}

.product-info-wrapper .buttons .cart-remove{
	padding: 5px 10px;
	border: 1px solid transparent;
	border-radius: 4px 0px 0px 4px;
	height: 33px;
	float: left;
}

.product-info-wrapper .buttons .cart-add{
	padding: 5px 8px;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
	float: right;
	height: 33px;
}

.product-info-wrapper .buttons .cart-info{
	font-size: 12px;
	padding: 0 3px;
	font-weight: 600;
	line-height: 14px;
	color: #515151;
	position: relative;
	top: 5px;
}

.product-info-wrapper .buttons .cart-update{
	position: relative;
	display: inline-block;
	border-radius: 4px;
	top: -5px;
}

.product-info-wrapper .buttons .cart-update-wrap{
	text-align: center;
	display: inline-block;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	height: 34px;
	width: 100%;
}

.product-info-wrapper{
	margin: 0;
}

.product-info-wrapper .text{
	position: relative;                  
	bottom: 0;     
	height: 105px;
}

.product-info-wrapper .text .brand{
	font-size: 0.95em;
	font-weight: 600;
	color: #777;
}

.product-info-wrapper .text h5{
	margin-top: 2px;
	margin-bottom: 5px;
}

.product-info-wrapper .text h5{
	color: var(--color-darkergrey);
	font-size: 1.25em;
}

.product-info-wrapper .text .weight{
	font-size: 0.75em;
	color: var(--color-darkgrey);
}

.product-info-wrapper .price-buttons .weight-wrapper{
	font-size: 0.75em;
	display:table;
	width: 100%;
	color: var(--color-darkgrey);
}

.product-info-wrapper .price-buttons .weight-wrapper .price-weight{
	display:table-row;
	margin-top: 2px;
}

.product-info-wrapper .price-buttons .weight-wrapper .price{
	display:table-row;
	margin: 0;
	color: var(--color-red);
	font-weight: bold;
	font-size: 1.65em;
}

.product-info-wrapper .price-buttons .weight-wrapper .price .base-price{
    /*display: table-row;
    position: absolute;
    top: 92px;
    bottom: 41px;*/
    text-decoration: line-through;
    margin: 0 6px 0 0;
    color: var(--color-darkgrey);
    font-weight: normal;
    font-size: 0.7em;
}

.product-wrapper{
	margin: 0 5px;
	padding: 0 15px;
	max-height: 336px;	
	width: 170px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}


.product-wrapper .product{
	max-height: 336px;
}

.product-wrapper .text{
	position: relative;                  
	bottom: 0;     
	height: 105px;
}

.product-wrapper .text .brand{
	font-size: 0.75em;
	font-weight: 600;
	color: #777;
}

.product-wrapper .text h5{
	margin-top: 0;
	margin-bottom: 2px;
}

.product-wrapper .text h5 a{
	color: var(--color-darkgrey);
	font-size: 0.85em;
}

.product-wrapper .text h5 a:hover{
	text-decoration: none;
	color: var(--color-darkblue);
}

.product-wrapper .text .weight{
	font-size: 0.75em;
	color: var(--color-darkgrey);
}

.product-wrapper .price-buttons-wrapper{
	min-height: 81px;
	position: relative
}

.product-wrapper .price-buttons{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.product-wrapper .price-buttons .base-price{
	font-size: 1.05em;
	text-decoration: line-through;
}

.product-wrapper .price-buttons .weight-wrapper{
	font-size: 0.75em;
	display:table;
	width: 100%;
	color: var(--color-darkgrey);
}

.product-wrapper .price-buttons .weight-wrapper .price-weight{
	display:table-cell;
	float:right;
	margin-top: 3px;
}

.product-wrapper .price-buttons .weight-wrapper .price{
	display:table-cell;
	float:left;
	margin: 0;
	color: var(--color-red);
	font-weight: bold;
	font-size: 1.30em
}

.product-wrapper .price-buttons .buttons{
	margin-bottom: 10px;
	margin-top: 10px;
}

.product-wrapper .flip-container{
	position: relative;
	height: 145px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.product-wrapper .flip-container .discount{
	position: absolute;
	padding: 5px;
	background-color: var(--color-red);
	color: #fff;
	width: 40px;
	border-radius: 0 0 4px 4px;
	font-weight: bold;
	text-align: center;
}

.product-wrapper .cart-remove{
	padding: 0px 8px;
	border: 1px solid transparent;
	border-radius: 4px 0px 0px 4px;
	float: left;
	height: 22px;
	position: relative;
	top: -1px;
}

.product-wrapper .cart-add{
	padding: 0px 6px;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
	float: right;
	height: 22px;
	position: relative;
	top: -1px;
}

.product-wrapper .cart-info{
	font-size: 11px;
	padding: 0 3px;
	font-weight: 600;
	line-height: 14px;
	color: var(--color-darkgrey);
	position: relative;
	top: -1px;
}

.product-wrapper .cart-update{
	text-align: center;
}

.product-wrapper .cart-add-button{
	height: 21px;
	width: 100%;
	font-size: 11px;
	padding: 3px;
}

.product-wrapper .cart-update-wrap{
	text-align: center;
	display: inline-block;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	height: 22px;
	width: 100%;
}

.product-wrapper .img-responsive{
	padding: 5px;
}

.product-table-header{
	margin: 0px 11px;
	border-top: 1px solid #dfdfdf;
	margin-top: 20px;
}

.product-table-header-title{
	margin: 10px 6px 0;
}

.product-table-header-title .title{
	font-size: 1.45em;
	font-weight: bold;
	color: var(--color-darkergrey);
}

.product-table-header-title .amount{
	font-size: 1.25em;
	font-weight: normal;
	color: var(--color-darkergrey);
}

.product-table{
	display: table;
}

.product-table .cell{
	display: table-cell;
}

.product-table .row{
	display: table-row;
}

.cartinfobar .panel-body{
	padding: 10px 10px 0 10px;
}

.cartinfobar .panel-body .table-responsive{
	padding: 0;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.cartinfobar .panel-body .table-responsive>table>tbody{
	display:block;
	max-height: 365px;
	overflow:auto;
}

.cartinfobar .panel-body .table-responsive>table>thead,
.cartinfobar .panel-body .table-responsive>table>tbody tr{
	display:table;
	width:100%;
}

.cartinfobar .panel-body .table-responsive .table>tbody>tr>td, 
.cartinfobar .panel-body .table-responsive .table>tbody>tr>th, 
.cartinfobar .panel-body .table-responsive .table>tfoot>tr>td, 
.cartinfobar .panel-body .table-responsive .table>tfoot>tr>th, 
.cartinfobar .panel-body .table-responsive .table>thead>tr>td, 
.cartinfobar .panel-body .table-responsive .table>thead>tr>th{
	padding: 8px 4px;
}

.cartinfobar .panel-body .table-responsive>table>tbody::-webkit-scrollbar {
	width: 5px; // manage scrollbar width here
}
.cartinfobar .panel-body .table-responsive>table>tbody::-webkit-scrollbar * {
	background:transparent; // manage scrollbar background color here
}
.cartinfobar .panel-body .table-responsive>table>tbody::-webkit-scrollbar-thumb {
	background:rgba(150,150,150,0.1) !important; // manage scrollbar thumb background color here
}

.cartinfobar .panel-body .table-responsive .table{
	font-size: 9px;
	margin-bottom: 0px; 
}

.retailer-price-box{
	border: 1px solid #ddd;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: none;
}

.retailer-price-box .table{
	display: table;
	margin: 0;
}

.retailer-price-box .price{
	text-align: right;
	padding-left: 5px;
	font-size: 0.85em;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	color: var(--color-darkergrey);
	width: 55%;
}

.retailer-price-box .retailer{
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}

.retailer-price-box .retailer img{
	vertical-align: middle;
	max-height: 15px;
}

.retailer-table .alert-warning,
.cart-container .alert-warning{
	background-image:none;
	border-color: var(--color-darkyellow);
	text-shadow: none;
	-webkit-box-shadow: none; 
	box-shadow: none;
}

.notification-content .dropdown {
	display:inline-block;
}

.notification-content .dropdown .icon-select-active,
.notification-content .dropdown .icon-select-disabled{
	color:var(--color-darkgrey);
}

.notification-content .dropdown .icon-select-active:focus,
.notification-content .dropdown .icon-select-active:hover,
.notification-content .dropdown .icon-select-disabled:focus,
.notification-content .dropdown .icon-select-disabled:hover{
	color:var(--color-darkergrey);
}

.notification-content .fa-bell-o {
	font-size:1.3em;
	width: 45px;
	padding: 17px 0px 13px;
	text-align: center;
}

.notification-content .notifications {
	min-width:420px; 
}

.notification-content .notifications-wrapper {
	overflow:auto;
	max-height:250px;
}

.notification-content .menu-title {
	color:var(--color-warningred);
	font-size:1.5rem;
	display:inline-block;
}

.notification-content .menu-mark {
	color:var(--color-red);
	display: block;
	outline: none;
}

.notification-content .menu-mark:focus,
.notification-content .menu-mark:hover {
	color:var(--color-warningred);
	outline: none;
}

.notification-content .glyphicon-circle-arrow-right {
	margin-left:10px;     
}


.notification-content .notification-heading, .notification-content .notification-footer  {
	padding:2px 10px;
}


.notificiation-content .dropdown-menu.divider {
	margin:5px 0;          
}

.notification-content .item-title {
	font-size: 0.75em;
	color: var(--color-darkgrey);
	margin-top: 0;
}

.notification-content .item-info {
	font-size: 0.75em;
	margin: 0;
}

.profile-notifications .item-info .product,
.notification-content .item-info .product{
	font-weight: bold;
	text-decoration: none;
	outline: none;
}

.profile-notifications .item-info .product:focus,
.profile-notifications .item-info .product:hover,
.notification-content .item-info .product:focus,
.notification-content .item-info .product:hover
{
	color: var(--color-darkblue);
	text-decoration: none;
}

.notification-content .item-info .price{
	font-size: 1.15em;
	color: var(--color-red);
}

.profile-notifications .item-info .base-price,
.notification-content .item-info .base-price{
	text-decoration: line-through;
}

.notification-content .notifications a.content {
	text-decoration:none;
	background:#ccc;

}

.notification-content .notification-item {
	padding: 10px;
	margin: 5px;
	border: 1px solid var(--color-lightgrey);
	border-radius: 3px;
}

.notification-content .icon-select-active .count{
	position: absolute;
	top: 12px;
	right: 6px;
	height: 15px;
	width: 15px;
	overflow: hidden;
	background: #f00;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	font-size: 10px;
	font-weight: bold;
	line-height: 15px;
}

.notification-content .icon-select-disabled .count{
	position: absolute;
	top: 12px;
	right: 6px;
	height: 15px;
	width: 15px;
	overflow: hidden;
	background: #ddd;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	font-size: 10px;
	font-weight: bold;
	line-height: 15px;
}

.notification-content .animated {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.profile-notifications {
	padding: 10px 0;
}

.profile-notifications .notification-item{
	border: 1px solid var(--color-lightgrey);
	padding: 10px;
	margin: 5px 0;
	border-radius: 3px;
}

.profile-notifications .notification-item .item-title{
	margin: 0 0 2px 0;
}

.profile-notifications .notification-item .item-info{
	margin: 0;
}

.profile-notifications .item-title {
	font-size: 0.85em;
	color: var(--color-darkgrey);
	margin-top: 0;
}

.profile-notifications .item-info {
	font-size: 1em;
	margin: 0;
}

.profile-notifications .item-info .price{
	font-size: 1.10em;
	color: var(--color-red);
}


.cc-window{
	left: 0;
	right: 0;
	bottom: 0;

	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;

	padding: 1em 1.8em;
	width: 100%;
	-ms-flex-direction: row;
	flex-direction: row;

	position: fixed;
	overflow: hidden;
	box-sizing: border-box;
	font-family: Helvetica,Calibri,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	z-index: 9999;

	opacity: 1;
	transition: opacity 1s ease;

	color: #fff;
	background-color: var(--color-darkblue);
}

.cc-window .text{
	-ms-flex: 1;
	flex: 1;
}

.cc-window .compliance{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	min-width: 140px;
}

.cc-window .compliance .btn{
	color: #fff;
	background-image: -webkit-linear-gradient(top,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	background-image: -o-linear-gradient(top,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(var(--color-yellow)),to(var(--color-darkyellow)));
	background-image: linear-gradient(to bottom,var(--color-yellow) 0,var(--color-darkyellow) 100%);
	background-color: var(--color-yellow);
	border: 1px solid transparent;
	border-color: var(--color-darkyellow);
	margin-left: .5em;
	outline:0;
	font-size: 12px;
	-ms-flex: 1;
	flex: 1;
}



/* SQUARED THREE */
.checkbox-styled {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
}

.checkbox-styled label span{
	padding-left: 20px;
	white-space: nowrap;
	top: -1px;
	position: relative;
}

.checkbox-styled input {
	width: 15px;
	height: 5px;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	position: relative;
	*overflow: hidden;
}

 /**
 * Create the box for the checkbox
 */
 .checkbox-styled label {
 	margin-bottom: 0;
 	font-size: 12px;
 	font-weight: normal;
 	cursor: pointer;
 	position: absolute;
 	width: 15px;
 	height: 15px;
 	top: 0;
 	left: 0;
 	background: #eee;
 	border:1px solid #ddd;
 }

/**
 * Display the tick inside the checkbox
 */
 .checkbox-styled label:after {
 	opacity: 0;
 	content: '';
 	position: absolute;
 	width: 9px;
 	height: 5px;
 	background: transparent;
 	top: 3px;
 	left: 2px;
 	border: 2px solid #333;
 	border-top: none;
 	border-right: none;

 	transform: rotate(-45deg);
 }

/**
 * Create the hover event of the tick
 */
 .checkbox-styled  label:hover::after {
 	opacity: 0.2;
 }

/**
 * Create the checkbox state for the tick
 */
 .checkbox-styled input[type=checkbox]:checked + label:after {
 	opacity: 1;
 }


 #notifications-menu .collapsing {
 	position: relative;
 	height: 0;
 	overflow: hidden;
 	-webkit-transform: translateZ(0);
 	-webkit-transition: height .01s ease-out;
 	-moz-transition: height .01s ease-out;
 	-o-transition: height .01s ease-out;
 	-ms-transition: height .01s ease-out;
 	transition: height .01s ease-out;
 	-webkit-transition: height .01s ease-out;
 	transition: height .01s ease-out;
 }

 .panel-default .panel-heading{
 	background-image: none;
 	color: #fff;
 	font-weight: bold;
 	background-color: var(--color-blue);
 	border: 1px solid transparent;
 	border-color: var(--color-darkblue);
 }


 .list-container .title{
 	font-size: 1.65em;
 	color: var(--color-darkergrey);
 	margin-bottom:-5px;
 }

 .list-container .description{
 	color: var(--color-darkgrey);
 	font-size: 1.15em;
 }

 .cart-container{
 	margin-top: 10px;
 }

 .cart-container{
 	margin-top: 20px;
 }

 .cart-compare-panel{
 	margin-top: 84px;
 }

 .cart-container .alert-warning{
 	margin-top: 5px;
 }

 .cart-container .cart-retailer{
 	display: inline-block;
 	margin-bottom: 15px;
 	height: 45px;
 }

 .cart-container .cart-retailer span{
 	font-size: 16px;
 }

 .cart-container .cart-retailer img{
 	max-height: 25px;
 	max-width: 145px;
 }

 .list-container .table-responsive,
 .cart-container .table-responsive{
 	margin-bottom: 0px;
 	padding-bottom: 15px;
 	border: none;
 }

 .cart-table{
 	display: table;
 	width: 100%;
 }

 .cart-table-row{
 	display: table-row;
 	height: 95px;
 	margin: 10px 0;
 }

 .cart-product-table{
 	display: table;
 	width: 100%;
 	height: inherit;
 	margin: 5px 0;
 	border: 1px solid #ddd;
 	padding: 5px;
 }

 .cart-product-table .cart-product-cell{
 	display: table-cell;
 }

 .cart-product-table .cart-product-buttons{
 	width: 2%;
 	padding: 3px;
 }

 .cart-product-table .cart-product-buttons .buttons-table{
 	display: table;
 }

 .cart-product-table .cart-product-buttons .buttons-table .buttons-table-row{
 	display: table-row;
 }

 .cart-product-table .cart-product-buttons .buttons-table .buttons-table-row a{
 	padding-bottom: 10px;
 	color:var(--color-blue);
 	text-decoration: none;
 }

 .cart-product-table .cart-product-buttons .buttons-table .buttons-table-row a:focus,
 .cart-product-table .cart-product-buttons .buttons-table .buttons-table-row a:hover{
 	color: var(--color-darkblue);
 }

 .cart-product-table .cart-product-img{
 	vertical-align: middle;
 	width: 16%;
 }

 .cart-product-table .cart-product-img img{
 	max-height: 90px;
 	max-width: 90px;
 	width: auto;
 	margin: auto;
 }

 .cart-product-table .cart-product-info{
 	vertical-align: top;
 	width: 58%;
 }

 .cart-product-table .cart-product-info .info-wrapper{
 	height: 62px;
 }

 .cart-product-table .cart-product-info .info-wrapper .brand{
 	font-size: 0.85em;
 	font-weight: 600;
 	color: var(--color-darkgrey);
 }

 .cart-product-table .cart-product-info .info-wrapper .name{
 	font-size: 1.25em;
 	margin-top: 1px;
 	margin-bottom: 5px
 }

 .cart-product-table .cart-product-info .info-wrapper .name a{
 	text-decoration: none;
 	color: var(--color-darkergrey);
 }

 .cart-product-table .cart-product-info .info-wrapper .name a:focus,
 .cart-product-table .cart-product-info .info-wrapper .name a:hover
 {
 	color: var(--color-blue);
 }

 .cart-product-table .cart-product-info .price{
 	margin: 0;
 	color: var(--color-red);
 	font-weight: bold;
 	font-size: 0.95em;
 }

 .cart-product-table .cart-product-qt{
 	vertical-align: middle;
 	width: 10%;
 }

 .cart-product-table .cart-product-total{
 	vertical-align: middle;
 	text-align: right;
 	padding-right: 15px;
 }

 .cart-product-table .cart-product-total .price-total{
 	margin: 0;
 	color: var(--color-blue);
 	font-weight: bold;
 	font-size: 1.25em; 
 }

 .cart-product-table .cart-product-info .price-total-unavailable{
 	margin-left: 10px;
 }

 .cart-product-table .cart-product-info .price-total-unavailable,
 .cart-product-table .cart-product-total .price-total-unavailable {
 	padding: 5px;
 	background-color: #ffcabd;
 	border: 1px solid #dd2c00;
 	border-radius: 5px;
 }

 .cart-table-footer{
 	margin-top: 15px;
 }

 .cart-table-footer .cart-table-buttons {
 	float:left;
 }

 .cart-table-footer .cart-table-buttons .btn{
 	margin-top: 5px;
 	width: 145px;
 }

 .cart-table-footer .cart-table-buttons .cart-add-button{
 	margin-right: 5px;
 }

 .cart-retailer .cart-table-total {
 	float:right;
 	text-align: right;
 	position: relative;
 	top: 14px;
 }

 .cart-retailer .cart-table-total .total {
 	font-weight: bold;
 	color: var(--color-darkgrey);
 }

 .cart-retailer .cart-table-total .total .value {
 	font-size: 1.40em;
 	color: var(--color-blue);
 }

 .btn-cart{
 	color:#fff;
 }

 .btn-cart:focus,
 .btn-cart:hover{
 	color:#fff;
 }


 @media (min-width: 221px){
 	.search-page-item{
 		width: 48%;
 		margin-left: 5px;
 	}

 	.items-row{
 		margin-left:-20px;
 		margin-right:-20px;
 	}

 	.search-page-item .flip-container{
 		height: 120px;
 	}

 	.navigation-buttons{
 		margin-bottom: 25px;
 	}

 	.search-page-item .cart-info{
 		font-size: 10px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 6px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 80%;
 	}

 	.favorite-product-wrapper .buttons .favorite-product-cart-update, 
 	.favorite-product-wrapper .buttons .favorite-product-cart-add-button{
 		width: 78%;
 	}

 	.favorite-product-wrapper {
 		width: 100%;
 		margin: 10px 0px 10px 0px;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px;
 	}

 	.cart-product-table .cart-product-info{
 		width: 58%;
 	}

 	.cart-table{
 		width: 750px;
 	}

 	.cart-retailer .cart-table-total .total .value {
 		position: relative;
 		top: -7px;
 		padding-left: 0px;
 	}

 	.cart-retailer .cart-table-total {
 		position: relative;
 		top: 0px;
 	}

 	.cart-retailer .cart-table-total .total {
 		padding-left: 70px;
 	}

 	.navbar-cart-icon {
 		width: 30px;
 		margin-left: 9px;
 		margin-right: 10px;
 	}

 	.header-cart-wrapper {
 		width: 150px;
 	}

 	.notification-content .notifications {
 		min-width: 278px;
 		margin: 2px 15px 0;
 	}

 }

 @media (min-width: 360px){

 	.search-page-item{
 		width: 45%;
 		margin-left: 12px;
 	}

 	.search-page-item .flip-container{
 		height: 135px;
 	}

 	.navigation-buttons{
 		margin-bottom: 25px;
 	}

 	.search-page-item .cart-info{
 		font-size: 11px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 84%;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 82%;
 	}

 	.favorite-product-wrapper {
 		width: 100%;
 		margin: 10px 0px 10px 0px;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px;
 	}

 	.notification-content .notifications {
 		min-width: 331px;
 	}


 }

 @media (min-width: 412px){

 	.search-page-item .flip-container{
 		height: 155px;
 	}

 	.items-row{
 		margin-left:-15px;
 		margin-right:-15px;
 	}

 	.navigation-buttons{
 		margin-bottom: 25px;
 	}

 	.search-page-item .cart-info{
 		font-size: 11px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 86%;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 85%;
 	}

 	.favorite-product-wrapper {
 		width: 100%;
 		margin: 10px 0px 10px 0px;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px;
 	}

 	.notification-content .notifications {
 		min-width: 380px;
 	}

 }

 @media (min-width: 480px){

 	.search-page-item{
 		width: 23%;
 		margin-left: 12px;
 	}

 	.navigation-buttons{
 		margin-bottom: 25px;
 	}

 	.search-page-item .cart-info{
 		font-size: 11px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 86%;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 85%;
 	}

 	.favorite-product-wrapper {
 		width: 100%;
 		margin: 10px 0px 10px 0px;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px;
 	}

 	.navbar-cart-icon {
 		width: 30px;
 		margin-left: 27px;
 	}

 }

 @media (min-width: 768px){

 	.search-page-item .flip-container{
 		height: 155px;
 	}

 	.search-page-item{
 		width: 23%;
 		margin-left: 12px;
 	}

 	.navigation-buttons{
 		margin-bottom: 25px;
 	}

 	.navbar-search-text{
 		min-width: 150px;
 	}

 	.search-page-item .cart-info{
 		font-size: 11px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 150px;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 45%;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-info{
 		font-size: 12px;
 	}

 	.dropdown-menu-right {
 		right: auto;
 		left: 0;
 	}

 	.nav-menu .navbar-default .navbar-nav>li>a {
 		font-size: inherit;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px;
 	}

 	.cart-product-table .cart-product-info{
 		width: 55%;
 	}

 	.cart-table{
 		width: 100%;
 	}

 	.cart-retailer .cart-table-total .total .value {
 		position: relative;
 		padding-left: 15px;
 		top: 0px;
 	}

 	.cart-retailer .cart-table-total {
 		position: relative;
 		top: 16px;
 	}

 	.cart-retailer .cart-table-total .total {
 		padding-left: 0px;
 	}

 	.header-cart-wrapper {
 		width: 150px;
 	}

 	.navbar-cart-icon {
 		width: 30px;
 		margin-left: 7px;
 		margin-right: 10px;
 	}

 }

 @media (min-width: 992px){

 	.search-page-select-div{
 		width: 25%;
 	}

 	.search-page-item{
 		width: 31%;
 		margin-left: 10px;
 	}

 	.navbar-search{
 		width: 100%;
 	}

 	.product-container{
 		width: 100%;
 	}

 	.search-page-item .flip-container{
 		height: 155px;;
 	}

 	.navbar-search-text{
 		min-width: 300px;
 	}

 	.search-page-item .cart-info{
 		font-size: 10px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 150px;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 50%;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-info{
 		font-size: 12px;
 	}

 	.favorite-product-wrapper .retailer-price-box .retailer {
 		width: 40%;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper .retailer-price-box .price {
 		font-size: 1.15em;
 	}

 	.dropdown-menu-right {
 		right: 0;
 		left: auto;
 	}

 	.nav-menu .navbar-default .navbar-nav>li>a {
 		font-size: 10px;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px 0 0;
 	}

 	.cart-product-table .cart-product-info{
 		width: 59%;
 	}

 	.cart-table{
 		width: 100%;
 	}

 	.navbar-cart-icon {
 		width: 30px;
 		margin-left: 13px;
 		margin-right: 10px;
 	}

 	.header-cart-wrapper {
 		width: 130px;
 	}

 }

 @media (min-width: 1200px){
 	.search-page-select-div{
 		width: 25%;
 	}

 	.search-page-item{
 		width: 23%;
 		margin-left: 12px;
 	}

 	.navbar-search{
 		width: 100%;
 	}

 	.product-container{
 		width: 100%;
 	}

 	.search-page-item .flip-container{
 		height: 145px;
 	}

 	.navbar-search-text{
 		min-width: 300px;
 	}

 	.search-page-item .cart-info{
 		font-size: 11px;
 	}

 	.product-info-wrapper .buttons .cart-remove {
 		padding: 5px 10px;
 	}

 	.product-info-wrapper .buttons .cart-add {
 		padding: 5px 8px;
 	}

 	.product-info-wrapper .buttons .cart-update, 
 	.product-info-wrapper .buttons .cart-add-button{
 		width: 150px;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-update, 
 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-add-button{
 		width: 126px;
 	}

 	.favorite-product-wrapper .product-info-wrapper .buttons .cart-info{
 		font-size: 11px;
 	}

 	.dropdown-menu-right {
 		right: 0;
 		left: auto;
 	}

 	.nav-menu .navbar-default .navbar-nav>li>a {
 		font-size: inherit;
 	}

 	.favorite-product-wrapper {
 		width: 32%;
 		margin: 11px 0px 11px 11px;
 	}

 	.favorite-product-wrapper .retailer-price-box .retailer {
 		width: 60%;
 	}

 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper .retailer-price-box .price {
 		font-size: .95em;
 	}


 	.favorite-product-wrapper .main-product-container-prices .prices-wrapper{
 		padding: 0 15px 0 0;
 	}

 	.cart-product-table .cart-product-info{
 		width: 62%;
 	}

 	.cart-table{
 		width: 100%;
 	}

 	.header-cart-wrapper {
 		width: 130px;
 	}
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 600px) {

 	.footer-distributed .footer-left,
 	.footer-distributed .footer-right{
 		text-align: center;
 	}

 	.footer-distributed .footer-right{
 		float: none;
 		margin: 0 auto 20px;
 	}

 	.footer-distributed .footer-left p.footer-links{
 		line-height: 1.8;
 	}

 	.navbar-search{
 		width: 100%;
 		margin-right: 0px;
 		margin-left: 0px;
 	}

 }


 /* Footer: End */

 @media only screen and (min-width : 250px) and (max-width : 480px) {
 	.home-main-img{
 		height: 80px;
 		padding:0;
 	}
 }