<div class="product-container">
	<div class="row">
		<div class="product-table-header">
			<div class="product-table-header-title">
				<span class="title">Produtos Sugeridos ({{suggestionsCount}})</span>
			</div>
		</div>
		<div class="product-table-wrap">
			<div class="product-table">
				<div class="cell" data-ng-repeat="item in suggestions">
					<div class="product-wrapper">
						<div class="product">
							<div class="flip-container">
								<div class="flipper">
									<div class="front">
										<a data-ng-click="productDetails(item.product_id,item.id)" class="pointer">
											<img data-ng-src="{{item.image}}" alt="" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
							<div class="text">
								<span class="brand">{{item.brand}}</span>
								<h5>{{item.name}}</h5>
							</div>
							<div class="price-buttons">
								<p class="price">{{item.price | currency}}</p>
								<p class="buttons">
									<a data-ng-show="!cart.hasItem(item)" data-ng-click="replaceWithSuggestion(item)" class="btn btn-primary pointer cart-add-button"><i class="glyphicon glyphicon-refresh"></i> Trocar</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>