<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PromoSite</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
          <form class="navbar-form" role="search">
            <div class="input-group search-field">
              <input type="text" class="form-control" placeholder="Procurar um produto, marca ou categoria..." name="srch-term" id="srch-term" data-ng-model="search.term">
              <div class="input-group-btn">
                <button class="btn btn-default" data-ng-click="changeView('search')"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
          <ul data-ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" data-ng-click="loginForm()">Login</a></li>
            <li><a href="javascript:void(0)" data-ng-click="registerForm()">Register</a></li>
            <li><a class="fa fa-shopping-cart" href="../navbar-static-top/"></a></li>
          </ul>

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <ul data-ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown profile-dropdown-name">
                <a aria-haspopup="true" class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="true">Bem-vindo, {{user}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu profile-dropdown-menu">
                  <li class="nav-item dropdown"><a class="dropdown-item" href="/profile" data-ng-click=""><i class="fa fa-fw fa-user"></i> Editar Perfil</a></li>
                  <li class="nav-item dropdown"><a class="dropdown-item" href="javascript:void(0)" data-ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Sair</a></li>
                </ul>
              </li>
              <li><a class="fa fa-shopping-cart" href="../navbar-static-top/"></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>

