<div class="container">
	<div class="panel panel-default profile-card col-sm-12 col-lg-12">
		<div class="row">
			<div class="panel-heading profile-title col-sm-12 col-lg-12 col-sm-12 col-xs-12">
				<h3><i class="fa fa-user fa-fw"></i>Notificações</h3>
			</div>
		</div>
		<div class="panel-body profile-body col-sm-12 col-lg-12">
			<div data-ng-repeat="notification in notifications">
				<div class="content pointer" data-ng-click="markAsRead(notification.id)">
					<div class="notification-item">
						<h4 class="item-title">{{notification.created}}</h4>
						<p class="item-info"><a class="product" data-ng-click="searchProduct(notification)">{{notification.product_name}}</a> no {{notification.retailer_name}} encontra-se com {{notification.percentage}}% desconto: <span class="base-price">{{notification.base_price | currency}}</span> -  <span class="price">{{notification.price | currency}}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>