.view-content{
	margin-top: 50px;
}

.section{
	margin-bottom: 30px;
}

.home-main-img{
	padding:0;
}

.search-field{
	width: 100%
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	outline: none;
}

.page-404-wrapper{
	margin-top: 95px;
}

.page-404-wrapper .page-title{
	font-size: 12.5rem;
	font-weight: 400;
	color: #c7ca48;
	line-height: 105px;
}

.page-404-wrapper .page-sub-title{
	font-size: 5rem;
	font-weight: 400;
	color: #777777;
}

.page-404-wrapper .lead{
	font-size: 21px;
	margin-top: -20px;
}

.page-404-wrapper .btn{
	margin-top: 50px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: none;
	background: #c7ca48;
	width: 20%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.page-404-wrapper button:active {
	outline: none !important;
	border: 0;
	background: #b4bb46;
}

.page-404-wrapper button:focus {
	outline: none;
	border: 0;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}

.form h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form .message {
	margin: 15px 0 15px;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

/* Footer: Start*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* Footer: End */

@media only screen and (min-width : 250px) and (max-width : 480px) {
	.home-main-img{
		height: 80px;
		padding:0;
	}
}

#navbar .cart-icon {
	background-image: url("../img/icons/E-Commerce_shopping-cart.png");
	background-repeat: no-repeat;
	background-position: 50% 10px;
}
